In [1]:
import pandas as pd

In [3]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# How many movies are listed in the titles dataframe?

In [4]:
titles.shape[0]

244914